{
    "coinMarketApiKey": "",
    "twilioAccountSid": "",
    "twilioAuthToken": "",
    "twilioMessageServiceId": "",
    "myPhoneNumber": "",
    "mongoUsername": "",
    "mongoPassword": "",
    "mongoClusterUrl": ""
}